.message-panel-container {
    padding: 12px;
    font-family: "Roboto";
    font-weight: 300;
    
    .no-messages-container {
        background-color: #F2F2F2;
        width: fit-content;
        padding: 10px;
        border-radius: 6px;
        margin-right: auto;
        margin-left: auto;
    }

    .message-container{
        display: flex;
        .avatar{
            background-color: #e0e0e0;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            margin-right: 10px
        }
    
        .message{
            background-color: #fef3b5;
            width: fit-content;
            padding: 10px;
            border-radius: 6px;
            margin-bottom: 16px;
            max-width: 600px;
        }

    }
}
